html, body {
  height: 100%;
}

body {
  padding: 10px;
  background-image: -webkit-linear-gradient(top, #1E5799, #a0c7e5);
  background-image: linear-gradient(to bottom, #1E5799, #a0c7e5);
}

h1 {
  color: #525252;
}

p {
  color: #525252;
}

a {
  color: #525252;
}
